@mixin Title {
  font-family: "Circe-ExtraBold";
  font-size: 40px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  color: #242424;
  text-align: center;
}

@mixin ExtraBold {
  font-family: "Circe-ExtraBold";
  font-weight: 800;
}
