.reviews {
  padding: 56px 58px;
  &__title {
    @include Title;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 38px;
  }
  &__item {
    width: 335px;
  }
  &__descr {
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #242424;
  }
  // &__figure {
  //   width: 0;
  //   height: 0;
  //   display: block;
  //   margin-left: 40px;

  //   border-left: 20px solid #eeeeee;
  //   border-right: 20px solid transparent;
  //   border-bottom: 20px solid transparent;
  //   position: relative;
  //   z-index: 1;
  //   // margin-top: -10px;
  //   // clip-path: polygon(8% 0, 0 11%, 0 0);
  //   // background-color: red;
  //   // width: 10px;
  //   // height: 10px;
  //   // display: block;
  // }
  &__item-info {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  &-info__image {
    width: 90px;
    height: 90px;
    &-1 {
      background: url("../img/reviews/deineris.png") center no-repeat;
    }
    &-2 {
      background: url("../img/reviews/taivin.png") center no-repeat;
    }
    &-3 {
      background: url("../img/reviews/serseya.png") center no-repeat;
    }
  }
  &-info__inner {
    margin-left: 20px;
    margin-top: 15px;
  }
  &-info__name {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #242424;
    @include ExtraBold;
  }
  &-info__age {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    color: #909090;
  }
}
